{% extends 'base.html'%}
{% block content %}
    <div id="container">
        {% block main %}
            <div id="main">
                {% for article in articles.object_list %}
                    {% include 'article.html' %}
                {% endfor %}
                {% include 'pagination.html' %}
            </div>
        {% endblock %}
        {% block sidebar %}
            <div id="sidebar">
                <div class="linkslist">
                    <p class="asidetitle">
                        标签
                    </p>
                    <ul>
                        {% for category in categorys %}
                        <li>
                            <a href="/search?q={{ category }}" target="_blank">{{ category }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}